/*BEGIN PS4 White Controller Styling*/
.edit .controller.ds4.white {
    background-image: url(https://gitlab.com/kmacdone/blue-ps4-controller/-/blob/main/base.png);
}

.edit .ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.edit .ds4.white .trigger {
    background-image: url(https://gitlab.com/kmacdone/blue-ps4-controller/-/blob/main/triggers.png);
}

.edit .ds4.white .bumper {
    background-image: url(https://gitlab.com/kmacdone/blue-ps4-controller/-/blob/main/bumper.png);
}

.edit .ds4.white .touchpad.pressed {
    background-image: url(https://gitlab.com/kmacdone/blue-ps4-controller/-/blob/main/touchpad.png);
}

.edit .ds4.white .back, .ds4 .start {
    background-image: url(https://gitlab.com/kmacdone/blue-ps4-controller/-/blob/main/start.png);
}

.edit .ds4.white .button {
    background-image: url(ps4-white-assets/face.svg);
}

.edit .ds4.white .stick {
    background-image: url(https://gitlab.com/kmacdone/blue-ps4-controller/-/blob/main/sticks.png);
}

.edit .ds4.white .face {
    background-image: url(https://gitlab.com/kmacdone/blue-ps4-controller/-/blob/main/dpad.png);
}

/*END PS4 White Controller Styling*/
